Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/1.preferences_analysis/1.1_city_preferences.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/1.preferences_analysis/1.2_age_preferences.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/1.preferences_analysis/1.3_gender_preferences.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/1.preferences_analysis/1.4_gender_preferences_by_city.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/1.preferences_analysis/1.5_gender_ratio_in_age_groups.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/1.preferences_analysis/1.6_gender_preferences_in_age_groups.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/1.preferences_analysis/1.7_customer_age_segments.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/1.preferences_analysis/Theme.json
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/2.adoption_factors/2.1_adopted_vs_not_adopted.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/2.adoption_factors/2.2_customer_preference_alignment_full.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/2.adoption_factors/2.2_customer_preference_alignment.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/2.adoption_factors/2.3_adoption_trends_over_time.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/2.adoption_factors/2.4_arrival_trends_over_time.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/3.aggressiveness_analysis/3.1_all_pets_aggressive_percentages.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/3.aggressiveness_analysis/3.2_above_avg_stay_pets_aggressive_percentages.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/3.aggressiveness_analysis/3.3_below_avg_stay_pets_aggressive_percentages.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/3.aggressiveness_analysis/3.4_adopted_pets_aggressive_percentages.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/3.aggressiveness_analysis/3.5_not_adopted_pets_aggressive_percentages.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/4.age_analysis/4.1_avg_age_adopted.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/5.health_analysis/5.1_effect_of_health_status_on_adoption.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/5.health_analysis/5.2_effect_of_health_status_on_stay_period.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/6.adoption_events_analysis/6.1_pets_adopted_on_events.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/6.adoption_events_analysis/6.2_count_species_per_event_name.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/6.adoption_events_analysis/6.3_total_adoptions_per_event_name.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/6.adoption_events_analysis/6.4_total_adoptions_per_event.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/6.adoption_events_analysis/6.5_percentage_of_adoptions_by_events.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/7.stay_duration_analysis/7.1_average_stay_time_per_species.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/7.stay_duration_analysis/7.2_how_long_unadopted_pets_stayed_by_species.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/7.stay_duration_analysis/7.3_above_avg_stay_period_pets.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/7.stay_duration_analysis/7.4_below_avg_stay_period_pets.csv
Business Problem 1 (Increasing_Pet_Adoptions)/CSVs/7.stay_duration_analysis/7.5_relation_to_avergage_stay.csv
Business Problem 1 (Increasing_Pet_Adoptions)/all_queries.sql
Visualizations/PAWsitive Connections Vis. V0.1.pdf
